.doboz1,
.ikondobozParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.doboz1 {
  flex: 1;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: linear-gradient(90deg, var(--Elsdleges) 3%, #fffbef 3%);
  overflow: hidden;
  align-items: flex-start;
  padding: 40px;
  box-sizing: border-box;
  min-width: 303px;
  text-align: center;
  font-size: 20px;
  color: var(--Stt);
  font-family: Montserrat;
}
.ikondobozParent {
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.ikondobozIcon {
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: cover;
}
.cm,
.lers {
  align-self: stretch;
  position: relative;
}
.cm {
  margin: 0;
}
.lers {
  font-size: 16px;
  line-height: 160%;
  color: var(--Szveg);
}
@media screen and (max-width: 750px) {
  .doboz1 {
    flex: none;
    width: 100%;
    min-width: 0;
    padding: 32px 24px;
  }
}
@media screen and (max-width: 450px) {
  .doboz1 {
    padding: 28px 18px;
    box-sizing: border-box;
  }
  .cm {
    font-size: 16px;
    line-height: 21px;
  }
}
